/* GENERAL */

*{
    box-sizing: border-box;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color:hsl(169, 73%, 93%);
}

h2 {
    font-family: 'quicksand', sans-serif;
    font-size: 1.8rem;
}

h3 {
    font-family: 'quicksand', sans-serif;
    font-size: 1.4rem;
    /*margin: 4rem 2rem 1.5rem 2rem;*/
}

.description {
    font-family: 'quicksand', sans-serif;
}

/* HEADER CONTAINER */

header {
    background-color:#4fffe2; /*primary brand color*/
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.logo {
    width: 10%;
    align-self: center;
    min-width: 7rem;
}

h1 {
    font-family: 'quicksand', sans-serif;
    font-size: 2rem;
}

.title_subtitle {
    display: flex;
    flex-direction: column;
    margin-left: 1.05rem;
}

.title_subtitle h1 {
    margin-bottom: -0;
}

.title_subtitle p {
    margin-top: -0;
    font-family: 'quicksand', sans-serif;
    font-size: 1.1rem;
}

nav {
    font-family: 'quicksand', sans-serif;
    font-size: 1.2rem;
    margin-left: 10rem;
    display: flex;
    gap: 3rem;
}

nav a:link {
    text-decoration: none;
    color: #000000;
    background-color: #4fffe2;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

nav a:visited {
    text-decoration: none;
    color: #000000;
    background-color: #4fffe2;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

nav a:hover {
    text-decoration: none;
    color: #4fffe2;
    background-color: #000000;
    padding: 0.8rem;
    border-radius: 0.8rem;
    scale: 110%;
}

/* TRAVELOGUE HEADER */

#travelogue_header {
    margin: 2rem 2rem 1.5rem 2rem;
}

/* WILDER INSTITUTE */

#wilder_institute {
    background-color: #132e26;
    border: 4px solid #b7c534;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

#wi_title_desc {
    grid-column: span 2;
}

#owl {
    grid-row: span 2;
    justify-self: end;
}

#wilder_institute img {
    max-width: 90%;
}

#wilder_institute h3 {
    margin-top: 0;
    color: #b7c534;
}

#wilder_institute p {
    color: #e5ead2;
    line-height: 1.6;
}

/* BOWNESS PARK */

#bowness_park {
    background-color: #016b38;
    border: 4px solid #00ff84;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    gap: 2rem;
}

#bp_title_desc {
    grid-row: span 2;
    grid-column: span 2;
}

#bp_title_desc h3 {
    margin-top: 0;
    color: #00ff84;
}

#bp_title_desc p {
    color: #c2f8ba;
    line-height: 1.6;
}

#bp_title_desc li {
    font-family: 'quicksand', sans-serif;
    color: #c2f8ba;
}

#bowness_park img {
    max-width: 100%;
}

#pond {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row: span 2;
    align-self: center;
}

#curling {
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row: span 2;
    align-self: center;
}

/* BURNSTICK LAKE */

#burnstick_lake {
    background-color: #112136;
    border: 4px solid #ff7300;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1rem;
    padding: 0.8rem;
    border-radius: 0.8rem;
    gap: 2rem;
}

#bl_title_desc {
    grid-column: span 3;
}

#burnstick_lake h3 {
    color: #e8583f;
}

#burnstick_lake p {
    color: #ffd1b9;
}

#burnstick_lake img {
    max-width: 100%;
}