body {
    width: 100%;
    padding: 0;
    margin: 0;
}

/* HEADER CONTAINER */

header {
    background-color:#4fffe2; /*primary brand color*/
    padding: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.logo {
    width: 10%;
    align-self: center;
    min-width: 7rem;
}

h1 {
    font-family: 'quicksand', sans-serif;
    font-size: 2rem;
}

.title_subtitle {
    display: flex;
    flex-direction: column;
    margin-left: 1.05rem;
}

.title_subtitle h1 {
    margin-bottom: -0;
}

.title_subtitle p {
    margin-top: -0;
    font-family: 'quicksand', sans-serif;
    font-size: 1.1rem;
}

nav {
    font-family: 'quicksand', sans-serif;
    font-size: 1.2rem;
    margin-left: 10rem;
    display: flex;
    gap: 3rem;
}

nav a:link {
    text-decoration: none;
    color: #000000;
    background-color: #4fffe2;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

nav a:visited {
    text-decoration: none;
    color: #000000;
    background-color: #4fffe2;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

nav a:hover {
    text-decoration: none;
    color: #4fffe2;
    background-color: #000000;
    padding: 0.8rem;
    border-radius: 0.8rem;
}

/* TRAVELOGUE HEADER */

#travelogue_header {
    margin-left: 2rem;
}

/* WILDER INSTITUTE */

